.visibility-toggle {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
  cursor: pointer;

  transition: none;

  color: var(--icon-color);
}

.visibility-toggle:hover {
  background-color: rgba(76, 76, 76, 0.2);
}

.visibility-toggle > svg {
  width: 16px;
  height: 16px;
}
