.pattern-list-wrapper {
  padding: 8px;
}

.pattern-list-wrapper > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  padding: 8px 0;
  margin: -8px 0 0 0;
  background-color: var(--bg-color);
  z-index: 1;
}

.pattern-list-wrapper > .no-results {
  color: #757575;
  font-size: 13px;
}

.pattern-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.pattern-list > .pattern-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
}

.pattern-item > .color-indicator {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  flex-shrink: 0;
}

.pattern-item .notes {
  font-size: 12px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
